<div class="navbar">
  <div class="navbar-inner">
    <div class="sidebar-pusher">
      <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="logo-box">
      <a href="escritorio.html" class="logo-text"><span>Softalnd</span></a>
    </div>
    <div class="topmenu-outer">
      <div class="top-menu">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" sar-user-data>
            <a class="dropdown-toggle waves-effect waves-button waves-classic">
              <!-- <span class="user-name">{{ user.username }}</span> -->
              <img class="img-circle avatar" src="assets/images/avatar1.png" width="40" height="40" alt="">
            </a>
          </li>
          <li>
            <a href="salir" class="log-out waves-effect waves-button waves-classic">
              <span><i class="fa fa-sign-out m-r-xs"></i>Salir</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
